<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.agenthub.engine</string>

  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__NEXT_BIN__</string>
    <string>start</string>
    <string>-H</string>
    <string>127.0.0.1</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:__NODE_DIR__</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__WORKDIR__/data/engine.log</string>
  <key>StandardErrorPath</key>
  <string>__WORKDIR__/data/engine.error.log</string>
</dict>
</plist>
